body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    max-width: 600px;
    margin: 0 auto;

}
h1{
padding-top: 2rem;
padding-left: 2rem;
font-weight: 400;
margin-bottom: 0;
}
h2{
padding-left: 2rem;
font-weight: 400;
margin-top: 0;
}
header{
    background-image: url('./images/header.png');
    height: 167px;
    color: #FFFFFF 

}
.menu-outter{
    display: flex;
    gap: 10px;
    border-bottom:  #D2D2D2 1px solid;
}
#menu-emote{
    font-size: 48px;
}
.orderheader{
    text-align: center;
    font-size: 28px;
    max-width: 508px;
}
.purchasebtn{
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #16DB99;
    border: 1px black solid;
    width: 95%;
    height: 60px;
}
.cart-menu-outter{
    display: flex;
    justify-content: space-between;
    max-width: 508px;
}
.hidden{
    display: none;
}
.totalprice{
    border-top: black solid 1px;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 350px;
    width: 475px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px black;
    background-color: whitesmoke;
    color: black;
}

.modal-inner{
    margin: auto auto;
    text-align: center;
}

/* modal buttons */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}
input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}
.modal-btn{
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #16DB99;
    border: 1px black solid;
    width: 475px;
    height: 60px;
    margin-top: 1rem;
}
#orderdiv{
    padding-left: 10%;
}
#completediv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: #065F46;
    background-color: #ECFDF5;
    font-size: 32px;
}
.add-btn{
    background-color: transparent;
    border: none;
    font-size: 30px;
    display: grid;
    place-content: center;
    border-radius: 999px;
}
.add-btn:hover{
    scale: .95;
    cursor: pointer;
    background-color: lightgreen;
}
.add-btn:active{
    scale: .8;
}
.purchasebtn:hover,.modal-btn:hover{
    scale: .95;
    cursor: pointer;
}
.purchasebtn:active,.modal-btn:active{
    scale: .8;
}
.menu-outter:hover{
    background-color: #F3F4F6;

}
.menu-outter{
        padding: 0 1rem;
}
#menu-emote:hover{
    animation: wiggle 0.5s ease-in-out;
    cursor: default;
}
#footerp{
    text-decoration: none;
    color: #065F46;
    font-size: 16px;
    margin: 4rem auto;
    text-align: center;

}
a{
    text-decoration: none;
    color: #065F46;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

#footerp:hover{
    animation: wiggle 0.5s ease-in-out;
    cursor: default;
}
.fa-trash:hover{
    color: #DC2626;
    animation: wiggle 0.5s ease-in-out;
    cursor: pointer;
}